{% extends "./base.html" %}

{% block content %}
<div class="post-form-container">
    <h1>Forgot Password</h1>
    <p>Please enter your username or email address to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="form-label">Username or Email:</label>
            <input type="text" name="email" required id="{{ form.email.id_for_label }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p><a href="{% url 'accounts:login' %}">Back to login</a></p>
</div>
{% endblock %}