{% extends "./base.html" %}

{% block content %}
<div class="post-form-container">
    <h1>Login</h1>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
            <input type="text" name="username" maxlength="150" autofocus required id="{{ form.username.id_for_label }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="form-label">Password:</label>
            <input type="password" name="password" required id="{{ form.password.id_for_label }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}