[flake8]
max-line-length = 88
ignore = E266,F401,W503
exclude = .git, __pycache__, venv, messages.py,.idea,build,dist,.pytest_cache,.venv,static,templates,nginx,logs,uploads,.gitignore,README.md,requirements.txt