{% load static %}
{% comment %} {% load compress %} {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if post %}{{ post.title }}{% else %}{{ title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="saedi">
    <meta name="MobileOptimized" content="320">
    {% comment %} {% compress css %} {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/swiper/swiper.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/magnific/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% comment %} {% endcompress %} {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>